.dkHomeHeaderSection {
  .name-text {
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
  }
  .subtitle-text {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  .isSelected {
      color: #ffc700
  }
}
