.dkSkillsSection {
  .progress-bar {
    background-color: #ffc700;
  }
  .skill-wrapper {
    margin-bottom: 45px;
  }
  .skills-title {
    font-weight: 600;
    font-size: 48px;
  }
  .skill-label {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 6px;
  }
}
