.dkWorkWithMeBanner {
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hire-button {
      width: 177px;
      background-color: #373737;
      font-weight: 600;
      font-size: 24px;
      color: #ffffff;
      &:hover {
        color: #373737;
        border: 2px solid #373737;
        background-color: transparent;
      }
    }
  }
  &.spacer {
    aspect-ratio: 960/250;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 450px) {
  .dkWorkWithMeBanner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

