.dkProjectDetailsHeader {
  .project-title {
    font-weight: 600;
    font-size: 32px;
  }
  .subtitle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    .subtitle-label {
      font-weight: 500;
      font-size: 18px;
      color: #000000;
    }
    .separator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 15px;
    }
  }

  @media screen and (max-width: 450px) {
    .project-title {
      font-size: 24px;
    }
    .subtitle-wrapper {
      .subtitle-label {
        font-size: 14px;
      }
    }
  }
}
