.dkProjectDisplayCard {
  .project-display-card {
    height: 100%;
    width: 380px;
    border: unset;
    border-radius: unset;
    @media screen and (max-width: 391px) {
      width: 280px;
    }
    .project-title {
      font-size: 18px;
      font-weight: 500;
      max-width: 215px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    @media screen and (max-width: 426px) {
      .project-title {
        font-size: 16px;
        max-width: 170px;
      }
    }
    .type-label {
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .image-wrapper {
    overflow: hidden;
    position: relative;

    & img {
      transition: transform 0.3s ease-in;
    }
    &:hover img {
      transform: scale(1.2);
    }
  }
  .cardDescription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
