.dkProjectDetailsPage {
  .details-btn {
    min-width: 7em;
  }
  .statusUpdateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dkLabel {
    display: flex;
    justify-content: flex-end;
  }
}
