.dkProjectListPage {
  .card-wrapper:nth-child(4n-7) {
    background-color: #ffc700;
  }
  .card-wrapper:nth-child(4n-6) {
    background-color: #1d1d1d;
  }
  .card-wrapper:nth-child(4n-5) {
    background-color: #ffffff;
  }
  .card-wrapper:nth-child(4n-4) {
    background-color: #ffc700;
  }
  .card-wrapper {
    padding: 15px;
    max-width: 410px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-label {
    font-size: 38px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #ffc700;
    text-decoration-thickness: 6px;
    text-underline-offset: 6px;
    text-align: center;
  }
  @media screen and (max-width: 376px) {
    .title-label {
      font-size: 28px;
    }
  }
  .project-row {
    max-width: 825px;
    margin: 0 auto;
  }
}
