.dkServiceSection {
  .service-title {
    font-weight: 600;
    font-size: 48px;
  }
  .row-spacing {
    row-gap: 20px;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    .service-card {
      width: 100%;
      max-width: 291px;
      height: 100%;
      max-height: 309px;
      padding: 20px;
      background-color: #000000;
      border-radius: 10px;

      .icon-wrapper {
        margin-bottom: 20px;
      }

      .description-wrapper {
        padding-left: 20px;
        .separator {
          width: 53px;
          height: 7px;
          background-color: #ffc700;
          margin-bottom: 7px;
        }
        .service-title-label {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 13px;
        }
        .service-description {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}
