main {
  padding-top: 75px;
  min-height: 94vh;
}

body {
  overflow-x: hidden;
}

.max-view-height {
  height: 100vh;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bg-primaryMain {
  background-color: #ffc700;
}
.bg-secondaryMain {
  background-color: #373737;
}
.bg-teritaryMain {
  background-color: #c4c4c4;
}
.bg-blackMain {
  background-color: #000000;
}
.bg-whiteMain {
  background-color: #ffffff;
}

.color-primaryMain {
  color: #ffc700;
}
.color-secondaryMain {
  color: #373737;
}
.color-teritaryMain {
  color: #c4c4c4;
}
.color-blackMain {
  color: #000000;
}
.color-whiteMain {
  color: #ffffff;
}

.waves-spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.spacer-50 {
  background-image: url("./assets/spacer-50.svg");
}
.spacer-50-reverse {
  background-image: url("./assets/wave-50-reverse.svg");
}
.contact-spacer-50 {
  background-image: url('./assets/white-orange-spacer-50.svg');
}
.wave-1 {
  background-image: url("./assets/home-header-wave.svg");
}
.waves-1 {
  background-image: url("./assets/home-projects-waves.svg");
}
.stacked-waves-1 {
  background-image: url("./assets/home-skills-stacked-waves.svg");
}
.stacked-waves-2 {
  background-image: url("./assets/home-skills-stacked-waves2.svg");
}
.stacked-steps-mobile {
  background-image: url("./assets/stacked-steps-mobile.svg");
}
.stacked-steps-desktop {
  background-image: url("./assets/stacked-steps-desktop.svg");
}
.blob-scene-2 {
  background-image: url("./assets/banner-blob-1.svg");
}
.stacked-peaked-1 {
  background-image: url("./assets/banner-stacked-peaked.svg");
}
.layered-peaks-desktop {
  background-image: url("./assets/layered-peaks-desktop.svg");
}
.layered-peaks-mobile {
  background-image: url("./assets/layered-peaks-mobile.svg");
}
