@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,500&display=swap");

$base-font-family: "Montserrat", sans-serif;

$body-base-size: 16px;
$base-strong-weight: 600;

$body-small-size: 14px;
$small-strong-weight: 400;

$body-large-size: 18px;
$large-strong-weight: 600;

$header-size-6: 14px;
$header-size-5: 16px;
$header-size-4: 18px;
$header-size-3: 22px;
$header-size-2: 26px;
$header-size-1: 34px;
$jumbo-size: 64px;
$display-1: 88px;

$header-bold: bold;
$header-medium: 600;
$header-black: 900;