$primary-1100: #171b21;
$primary-1000: #272d37;
$primary-900: #3a4353;
$primary-800: #4e5a6e;
$primary-700: #61708a;
$primary-600: #7587a6;
$primary-500: #8c9bb4;
$primary-400: #a3afc3;
$primary-300: #bac3d2;
$primary-200: #d1d7e1;
$primary-100: #e3e7ed;
$secondary-1100: #212121;
$secondary-1000: #373737;
$secondary-900: #535353;
$secondary-800: #6f6f6f;
$secondary-700: #8b8b8b;
$secondary-600: #a7a7a7;
$secondary-500: #b5b5b5;
$secondary-400: #c4c4c4;
$secondary-300: #d3d3d3;
$secondary-200: #e1e1e1;
$secondary-100: #ededed;
$danger-1100: #29150f;
$danger-1000: #452319;
$danger-900: #673526;
$danger-800: #8a4632;
$danger-700: #ac583f;
$danger-600: #cf6a4c;
$danger-500: #d78269;
$danger-400: #df9b87;
$danger-300: #e7b4a5;
$danger-200: #efcdc3;
$danger-100: #f5e1db;
$success-1100: #1c1f15;
$success-1000: #2f3423;
$success-900: #474e35;
$success-800: #5f6846;
$success-700: #778258;
$success-600: #8f9d6a;
$success-500: #a1ad82;
$success-400: #b4bd9b;
$success-300: #c7ceb4;
$success-200: #d9decd;
$success-100: #e8ebe1;
$warning-1100: #312f1e;
$warning-1000: #534f32;
$warning-900: #7c774c;
$warning-800: #a69e65;
$warning-700: #cfc67e;
$warning-600: #f9ee98;
$warning-500: #faf0a9;
$warning-400: #fbf3ba;
$warning-300: #fcf6cb;
$warning-200: #fdf9dc;
$warning-100: #fdfbea;
$info-1100: #0e251f;
$info-1000: #173e33;
$info-900: #235e4d;
$info-800: #2f7d67;
$info-700: #3b9c81;
$info-600: #47bc9b;
$info-500: #65c7ab;
$info-400: #84d2bc;
$info-300: #a3ddcd;
$info-200: #c1e8dd;
$info-100: #daf1eb;
$gray-1100: #17181a;
$gray-1000: #26292c;
$gray-900: #3a3e42;
$gray-800: #4d5258;
$gray-700: #60676e;
$gray-600: #747c84;
$gray-500: #8b9198;
$gray-400: #a2a7ad;
$gray-300: #b9bdc1;
$gray-200: #d0d3d6;
$gray-100: #e3e4e6;
$text-1100: #1b1f24;
$text-1000: #2e343c;
$text-900: #454f5a;
$text-800: #5c6978;
$text-700: #738396;
$text-600: #8b9eb5;
$text-500: #9eaec1;
$text-400: #b1becd;
$text-300: #c5ceda;
$text-200: #d8dee6;
$text-100: #e7ebf0;
$background: #2f343f;
$dark: #262b33;
$white: #ffffff;
